:root {
  /* Colors */
  --color-light-blue: #64ccc5;
  --color-blue: #176b87;
  --color-dark-blue: #04364a;
  --color-white: #dafffb;
  /* Fonts */
  --heading-font: "Heebo", sans-serif;
  --body-font: "Lato", sans-serif;
  /* spacing */
  --sm-gap: 12px;
}

/* Reset default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-blue);
  font-weight: 700;
  transition: color 0.8s;
}

a:hover {
  color: var(--color-light-blue);
}

.bg-light-blue a {
  color: var(--color-white);
}

.bg-light-blue a:hover {
  color: var(--color-dark-blue);
}

/* assign headings font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

body,
a,
p {
  font-family: var(--body-font);
}


img {
    object-fit: cover;
    object-position: center center;
}

/* color classes */
.bg-light-blue {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}
/* padding classes */
.p-sm {
  padding: 1rem;
}

/* shadows */

.box-shadow {
  -webkit-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.75);
}

/* display classes */
.flex {
  display: flex;
  gap: var(--sm-gap);
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.h-screen-20 {
  height: 20vh;
}

.h-screen-80 {
  height: 80vh;
}
/* text colors */

.cta-card_container {
  position: relative;
  height: 200px;
  width: 60%;
  z-index: 10;
  margin: 0 auto;
  margin-top: -100px;
}

.cta-card {
  background-color: var(--color-dark-blue);
  padding: 1rem;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.cta-card:nth-child(2) {
  background-color: var(--color-blue);
}

.cta-card:last-child{
  background-color: var(--color-light-blue);
}

.cta-card:hover {
  transition: all 0.5s;
  background-color: black;
}

.cta-card:hover span {
  transition: all 0.5s;
  font-size: 3.5rem;
}

.cta-card span {
  color: white;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cta-card h4 {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.event-card {
  margin-bottom: 1rem;
}

.event-img_container {
  width: 45%;
}

.event-content_container {
  padding: var(--sm-gap);
  width: 65%;
  background-color: #04364a;
}

.event-img_container img {
  width: 100%;
  object-fit: cover;
}

.grid-container {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; 
  margin: 0 auto; 
}

.sidebar {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

.sidebar h2 {
  color: #333;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-section h3 {
  color: #007bff; /* Blue color for section headings */
  border-bottom: 2px solid #007bff; /* Underline effect */
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.sidebar-section p {
  color: #555;
}

.sidebar-section ul {
  list-style: none;
  padding: 0;
}

.sidebar-section ul li {
  margin-bottom: 5px;
}

.sidebar-section ul li:hover {
  color: #007bff;
  cursor: pointer;
}